body {
    width: 800px;
    margin: auto;
}

.green {
    color: green;
}

form input {
    color: red;
}

#formNombre {
    color: blue;
}

/* añadir un par de estilos de fuente (interna y externa) */